Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
Werkzeug
WTForms
python-dotenv
cryptography
bcrypt
pg8000
alembic
google-generativeai
google-auth
google-auth-httplib2
google-api-python-client
groq
openai
requests
urllib3
certifi
Pillow
pytesseract
PyMuPDF
python-docx
PyPDF2
tqdm
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
click
colorama
dnspython
email-validator
annotated-types
pydantic
pydantic_core
pyparsing
rsa
typing-inspection
typing_extensions
uritemplate
Authlib
gunicorn
# Deploy: 03/26/2026 22:16:50
#   D e p l o y :   0 3 / 2 6 / 2 0 2 6   2 2 : 4 5 : 0 0
