Flask
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
SQLAlchemy
Werkzeug
WTForms
python-dotenv
cryptography
bcrypt
pg8000
alembic
google-generativeai
google-auth
google-auth-httplib2
google-api-python-client
groq
openai
requests
urllib3
certifi
Pillow
PyPDF2
tqdm
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
click
colorama
dnspython
email-validator
annotated-types
pydantic
pydantic_core
pyparsing
rsa
typing-inspection
typing_extensions
uritemplate
Authlib
gunicorn
